tags

*.o
*.d
*.s
*.a
*.elf
*.bin
*.map
*.epp
*.core
*.hex
*.ihex
*.lss
*.map

symbols.[ch]
#examples/*/symbols.c
#examples/*/symbols.h

*.avr*
*.arduino
*.native
*.minimal-net

tests/obj_*
obj_*

logs
*.log

Makefile.target
doc/html
patches-*
tools/tunslip6

tools/coffee-manager/build/
tools/coffee-manager/coffee.jar
tools/collect-view/build/
tools/collect-view/dist/
tools/cooja/apps/avrora/build/
tools/cooja/apps/avrora/lib/cooja_avrora.jar
tools/cooja/apps/collect-view/build/
tools/cooja/apps/collect-view/cooja-collect-view.jar
tools/cooja/apps/mrm/build/
tools/cooja/apps/mrm/lib/
tools/cooja/apps/mspsim/build/
tools/cooja/apps/mspsim/lib/
tools/cooja/apps/serial_socket/build/
tools/cooja/apps/serial_socket/lib/
tools/cooja/build/
tools/cooja/dist/
